{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
    <h2> Количество статей:</h2>
   <h3>{{ news|length }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название статьи</td>
               <td>Дата публикации</td>
               <td>Описание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.post_time|date:'M d Y' }}</td>
               <td>{{ post.content|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}