{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
news_detail
{% endblock title %}

{% block content %}
   <h1>{{ news_detail.title|censor }}</h1>

   <hr>
 {% if news_detail %}
       <table>
           <tr>
               <td> <h4><strong>Заголовок&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h4> </td>
               <td> <h4><strong>Дата публикации&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h4> </td>
               <td> <h4><strong>Текст статьи&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h4> </td>
           </tr>

           <tr>
               <td> {{ news_detail.title }} </td>
               <td> {{ news_detail.article_date|date:'M d Y' }} </td>
               <td> {{ news_detail.text|censor }} </td>
           </tr>
       </table>
{% else %}
       <h2>Такой статьи нет!</h2>
{% endif %}
{% endblock content %}