{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
news
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
    <h3> Количество статей:</h3>
   <h3>{{ news|length }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td> <h3><strong>Название статьи&nbsp;&nbsp;&nbsp;&nbsp;</strong></h3> </td>
               <td> <h3><strong>Дата публикации</strong></h3> </td>
               <td> <h3><strong>Описание</strong></h3> </td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.article_date|date:'M d Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}